
.alert {
  --border-color: #ccc;
  --background-color: #eee;
  --text-color: #333;

  padding: 6px 10px;
  border-radius: 2px;

  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--text-color);
}

.alert.blue {
  --border-color: #0000ff;
  --background-color: #cdd8f9;
  --text-color: #0707cc;
}

.alert.green {
  --border-color: #8BC34A;
  --background-color: #DCEDC8;
  --text-color: #517b20;
}

.alert.red {
  --border-color: #E91E63;
  --background-color: #FCE4EC;
  --text-color: #E91E63;
}

.alert.yellow {
  --border-color: #c1b019;
  --background-color: #FFF9C4;
  --text-color: #86790a;
}